! Special
URxvt.foreground:   #E5E9F0
URxvt.background:   #2E3440
URxvt.cursorColor:  #E5E9F0

! black
URxvt.color0: #2E3440
URxvt.color8: #4C566A

! red
URxvt.color1: #88C0D0
URxvt.color9: #88C0D0

! green
URxvt.color2:  #BF616A
URxvt.color10: #BF616A

! yellow
URxvt.color3:  #5E81AC
URxvt.color11: #5E81AC

! blue
URxvt.color4:  #EBCB8B
URxvt.color12: #EBCB8B

! magenta
URxvt.color5:  #A3BE8C
URxvt.color13: #A3BE8C

! cyan
URxvt.color6:  #D08770
URxvt.color14: #D08770

! white
URxvt.color7:  #E5E9F0
URxvt.color15: #8FBCBB

URxvt.scrollBar: false
URxvt.scrollBar_right: false
URxvt.scrollBar_floating: false
URxvt.scrollstyle: rxvt

URxvt*transparent: false

URxvt.font: xft:Office Code Pro:pixelsize=18:style=Regular //perfect
//URxvt.font: xft:Source Code Pro:pixelsize=18:style=Regular  //Work
//URxvt.font: xft:JetBrains Mono:pixelsize=18:style=Regular
//URxvt.font: xft:PowerlineSymbols:pixelsize=18:style=Medium
//URxvt.font: xft:Roboto:pixelsize=18:style=Regular
//URxvt.font: xft:xft:Fantasque Sans Mono:pixelsize=18:style=Regular
//URxvt.font: xft:Monospace:pixelsize=16
URxvt.letterSpace: 0

*antialias:  true
*autohint:   true
// Xft.dpi:        192
// Xft.antialias:  true
// Xft.rgba:       rgb
// Xft.hinting:    true
// Xft.hintstyle:  hintslight
// Xft.autohint:   true
// Xft.lcdfilter:  lcddefault

! The string will be interpreted as if typed into the shell as-is.
! In this example, printing will be disabled altogether.
URxvt.print-pipe: "cat > /dev/null"

URxvt.perl-lib: /home/gentoo/.config/urxvt/ext

!-*- Perl extensions -*-
URxvt.perl-ext-common: default,matcher,keyboard-select,\
resize-font,selection-to-clipboard,pasta,readline,tabbed,fullscreen
URxvt.url-launcher:   /usr/bin/xdg-open
URxvt.underlineURLs:  True
URxvt.keysym.C-Delete: perl:matcher:last
URxvt.keysym.C-Insert: perl:matcher:list

// When click url with mouse button(1: left, 2: middle, 3: right),
// open link with url-launcher
URxvt.matcher.button: 1
URxvt.keysym.M-Escape:perl:keyboard-select:activate
URxvt.keysym.M-s: perl:keyboard-select:search
URxvt.keysym.Control-Shift-V:     perl:pasta:paste

// copy when text is selected
URxvt.clipboard.autocopy: true
URxvt.keysym.M-c: perl:clipboard:copy
URxvt.keysym.M-v: perl:clipboard:paste

URxvt.keysym.F11: perl:fullscreen:switch

URxvt.keysym.C-minus:  resize-font:smaller
URxvt.keysym.C-plus:   resize-font:bigger
URxvt.keysym.C-equal:  resize-font:reset
URxvt.keysym.C-question:  resize-font:show
