eval "$(dbus-launch --sh-syntax --exit-with-session)"

export XMODIFIERS="@im=fcitx"
export QT_IM_MODULE=fcitx
export GTK_IM_MODULE=fcitx

if ! pgrep -x "fcitx" > /dev/null
then
  fcitx
fi

if ! pgrep -x "imwheel" > /dev/null
then
imwheel
fi

# Environment variables set everywhere
export EDITOR="nvim"
export TERMINAL="$HOME/.local/bin/st"
export BROWSER="brave-bin"

# XDG Paths
export XDG_CONFIG_HOME=$HOME/.config
export XDG_CACHE_HOME=$HOME/.cache
export XDG_DATA_HOME=$HOME/.local/share

# zsh config dir
export ZDOTDIR=$HOME/.config/zsh


# vim: ft=sh
