export GTK_IM_MODULE=uim
export XMODIFIERS=@im=ibus
export QT_IM_MODULE=ibus

if ! pgrep -x "imwheel" > /dev/null
then
imwheel
fi

if ! pgrep -x "ibus-daemon" > /dev/null
then
ibus-daemon -drx
fi

# Environment variables set everywhere
export EDITOR="nvim"
export TERMINAL="urxvt"
export BROWSER="chromium"

# XDG Paths
export XDG_CONFIG_HOME=$HOME/.config
export XDG_CACHE_HOME=$HOME/.cache
export XDG_DATA_HOME=$HOME/.local/share

# Screenshots
flameshot &

# Compositor
# picom -b

# zsh config dir
export ZDOTDIR=$HOME/.config/zsh
